html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#narvbar{
    width: 100%;
    height: 80px;
    background-color: rgb(93, 90, 255);
    margin: 0 0 0 0 ;
    position: sticky;
}

#logo{
    height: 120px;
    width: 120px;
    background-color: orange;
    border-radius: 100%;
    margin-left: 35px;
    position: absolute;
    margin-top: -100px;
}

#logo_tekst{
    color: white;
    font-size: xx-large;
    margin:22px 0 0 30px;
}

#white{
    position: relative;
    background-color: white;
    width: 100%;
    height: 20px;
}

#title{
    margin: 0 0 0 80px;
    color: blue;
}

#subtitle{
    margin-left: 90px;
    font-size: 20px ;
    margin-top: 0;
    color: rgb(103, 103, 251);
}

#oranje{
    color: rgb(255, 119, 0);
    font-weight: 200;
    font-size: medium;
    border-radius: 100%;
}

#header2{
    color: blue;
    font-size: xx-large;
    margin: 50px 0 0 100px;
}

#subtitle2{
    margin-top:0;
    color: blue;
    margin-left: 130px;
}

.huisnummer{
    text-align: center;
}

#submit{
    width: 100px;
    height: 40px;
    background-color: rgb(60, 221, 92);
    border-radius: 8%;
}

.space{
    margin-left: 20px;
}

#woorden{
    width: 170px;
    height: 500px;
    margin:0 20px 0 160px;
    float: left; 
}

.float_right{
    float: right;
}

.left{
    margin-left: 150px;
}

#een{
    margin: 0 0 20px 0;
}

#twee{
    margin: 0 0 20px 100px;
}

#elf{
    margin: 0 0 15px 100px;
}

#drie{
    margin: 0 0 20px 20px;
}

#vier{
    margin: 0 0 20px 90px;
}

#vijf{
    margin: 0 0 17px 90px;
}

#zes{
    margin: 0 0 20px 0;
}

#zeven{
    margin: 0 0 17px 0;
}

#acht{
    margin: 0 0 20px 0;
}

#negen{
    margin: 0 0 22px 0;
}

#twaalf{
    margin: 0 0 15px 0;
}

#dertien{
    margin: 0 0 8px 0;
}

#viertien{
    margin: 0 0 23px 0;
}

#tien{
    margin: 0 0 10px 0;
}

#row{
    display: flex;
    width: 50%;
    height: 55px; 
}

#row > div{
    width: 50%;
    height: 55px; 
}

.left{
    float: left;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
    width: 30%;
}

.right{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 70%;
}

#wachtwoord_voorwaarden{
    font-family: sans-serif;
    font-weight: 300;
    opacity: 0.5;
    margin: 0;
    width: 250px;
    height: 20px;
}

#submit{
    width: 120px;
    height: 50px;
    background-color: rgb(40, 255, 72);
    border-radius: 5%;
    margin-left: 250px;
    margin-top: 50px;
}

   /** footer8**/

#footer{
    background-color: rgb(61, 132, 255);
    width: 70%;
    height: 350px;
    display: block;
    margin: 100px 0 50px 250px;
    display: flex;
}

#footer_title{
    margin: -20px 0 0 50px;
    color: white;
}

#top{
    margin: 50px;
    color: white;
}

.undertitle{
    margin: 0;
}

h4{
    margin-bottom:0px;
}

#bottom{
    float: right;
    color: white;
    margin-left: 30px;
}